VITE_API_BASE_URL=http://192.168.1.85:8081/api

# Realtime Laravel Reverb/Pusher
# Ces valeurs doivent correspondre au .env du backend.
VITE_REALTIME_ENABLED=true
VITE_REVERB_APP_KEY=local
VITE_REVERB_HOST=192.168.1.85
VITE_REVERB_PORT=8080
VITE_REVERB_SCHEME=http
